/* common font style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Varela Round', sans-serif;
    cursor: url("https://cdn.custom-cursor.com/db/pointer/32/Pokemon_Pikachu_Pointer.png"),auto; 
}

/* text-fast Sorbus color*/
.text-fast{
    color: #FD6E0A;
    font-family: 'Pokemon Solid', sans-serif;

}


/* common website button and color */
.btn{
    border: none;
    padding: 8px 25px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 5px;
    background-color: #FFCB05;
    color: #757575; 
}

.btn:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
    
/* nav title */
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    font-family: 'Pokemon Solid', sans-serif;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color:#3C5AA6;
    color: #FFCB05;
    
}

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px 100px; 
}

nav > ul{
    display: flex;
    align-items: center;
}

nav  li{
    list-style: none;
    margin-right: 50px;
}

a:hover{
    color: rgb(0, 0, 0);
}


nav  a{
    text-decoration: none;
    color: #FFCB05;
}