/* common font style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Varela Round', sans-serif;
    cursor: url("https://cdn.custom-cursor.com/db/pointer/32/Pokemon_Pikachu_Pointer.png"),auto; 
}

/* text-fast Sorbus color*/
.text-fast{
    color: #FD6E0A;
    font-family: 'Pokemon Solid', sans-serif;

}


/* common website button and color */
.btn{
    border: none;
    padding: 8px 25px;
    font-size: 25px;
    font-weight: 700px;
    border-radius: 5px;
    background-color: #FFCB05;
    color: #757575; 
}

.btn:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
    
/* nav title */
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800px;
    font-family: 'Pokemon Solid', sans-serif;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color:#3C5AA6;
    color: #FFCB05;
    
}

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px 50px 150px;
     

}

nav > ul{
    display: flex;
    align-items: center;
}

nav  li{
    list-style: none;
    margin-left: 50px;
}

a:hover{
    color: rgb(0, 0, 0);
}


nav  a{
    text-decoration: none;
    color: #FFCB05;
}

/* header related style */
.header{
    background-color: #FFF8F3;
    height: 100vh;
}


.banner{
    padding: 50px 150px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.btn-to{
    border: none;
    padding: 8px 25px;
    font-size: 25px;
    font-weight: 700px;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #757575; 
}

.btn-to:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.banner-welcome{
    color:#474747;
    font-size: 45px;
    /* font-weight: 600px; */
    margin-bottom: 15px;
}

.banner-title{
    color:#181818;
    font-size: 85px;
    font-weight: 700px;
    margin-bottom: 10px;
    text-shadow: -9px -7px 17px grey;
}

.discretion{
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 25px;
    color: #757575;
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
}

/* main section style */
main{
    max-width: 1425px;
    margin: 0px auto; 
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 50px;
}

/* about section style */
.about{
    padding: 100px 130px;
    margin: 80px 110px 60px 110px;
    text-align: justify;
    text-justify: inter-word;
    background-color: #FFF8F3;
    color: #757575;
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    border-radius: 5px;
}

.table-data{
    color: #757575;
    text-align: center;
    text-justify: inter-word;
    font-size: 20px;
    font-weight: 400px;
    line-height: 30px;
    margin-top: 40px;
    
    
}

th, td {
    padding-left: 62px;

  }

  /* what i do section style */

  .what-i-do{
    padding: 0px 130px;
    margin: 0px 110px 60px 110px;
    text-align: justify;
    text-justify: inter-word;
    color: #757575;
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
  }

  /* card section style */
.skills-con{
    display: flex;
    margin: 0px 110px 50px 110px;
    gap: 24px;
    
}

.skills-title{
    margin: 10px 0px;
}

.skills{
    padding: 30px;
    text-align: justify;
    text-justify: inter-word;
    background-color: #FFF8F3;
    color: #757575;
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    box-shadow: -5px -7px 17px gray;
    border-radius: 5px;
}

/* resume title style */

.resume-colum-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700px;
}

.resume-container{
    display: flex;
}






